---
layout: default
---

<div class="row">
  <p class="title">
    &nbsp;
  </p>
  <div class="title-content">
    &#9679;<time>&#8201;02 December, 2016</time>
    <address>
      Melbourne Meat Market<br>
      5 Blackwood Street, North Melbourne
    </address>
  </div>
</div>

<div class="row">
  <p id="theday" class="section-scroll-point">
  <p class="title">
    The day
  </p>
  <div class="title-content">
    <p>
      Decompress is a community day for designers and developers run by the CSSConf and JSConf team. Our focus is squarely set on creating an all-inclusive space for attendees to learn, share and create. Topics covered are a blend of CSSConf and JSConf, and will even feature some of the same speakers.
    </p>
  </div>
</div>

{% include workshops.html %}

{% include tickets.html %}

<div class="row">
  <p id="news" class="section-scroll-point">
  <p class="title">
    News
  </p>
  <div class="title-content">
    <p>
      {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.github.url }}" class="list">
          <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">&#8201;{{ post.date | date: "%b %d" }}</time>
          <span>{{ post.title }}</span>
        </a>
      {% endfor %}
    </p>
  </div>
</div>

{% include mailing-list.html %}

<div class="row">
  <p id="codeofconduct" class="section-scroll-point">
  <p class="title">
    Code of conduct
  </p>
  <div class="title-content">
    <p>
      All organisers, sponsors and attendees are required to follow the <a target="_blank" href="http://confcodeofconduct.com/">conference code of conduct</a>. We are committed to providing a harassment-free, professional & welcoming environment for all attendees.
    </p>
  </div>
</div>

<div class="row">
  <p id="sponsors" class="section-scroll-point">
    <p class="title">
      Sponsors
    </p>
    <div class="title-content">
      <p>
        Event Sponsors
      </p>
      <p>
        <a href="http://phonegap.com/" target="external" class="sponsor">
          <img src="./assets/images/sponsor-phonegap.svg" alt="Event Sponsor: Adobe PhoneGap" />
        </a>
        <a href="https://www.mozilla.org/" target="external" class="sponsor">
          <img src="./assets/images/sponsor-mozilla.svg" alt="Event Sponsor: Mozilla" />
        </a>
        <a href="http://summersnowjuice.com.au/" target="external" class="sponsor sponsor--minor">
          <img src="./assets/images/sponsor-summersnow.svg" alt="" />
        </a>
      </p>
      <p>
        Workshop and Travel Sponsors
      </p>
      <p>
        <a href="https://data61.csiro.au/" target="external" class="sponsor sponsor--bigger">
          <img src="./assets/images/sponsor-data61.svg" alt="Travel Sponsor: Data61 (CSIRO)" />
        </a>
        <a href="https://www.devdiner.com" target="external" class="sponsor sponsor--bigger">
          <img src="./assets/images/sponsor-devdiner.svg" alt="Workshop Sponsor: Dev Diner" />
        </a>
        <a href="http://www.holler.com.au/" target="external" class="sponsor">
          <img src="./assets/images/sponsor-holler.svg" alt="Travel Sponsor: Holler" />
        </a>
        <a href="https://solnet.co.nz/" target="external" class="sponsor">
          <img src="./assets/images/sponsor-solnet.svg" alt="Travel Sponsor: Solnet" />
        </a>
        <a href="https://tokbox.com/" target="external" class="sponsor">
          <img src="./assets/images/sponsor-tokbox.svg" alt="Travel Sponsor: TokBox" />
        </a>
      </p>
      <p>
        We’re looking for more people to help support this event.
        If your organisation could help, please drop an email to <a href="{{ site.sponsors_email }}">{{ site.sponsors_email }}</a> for more details.
      </p>
    </div>
  </p>
</div>

{% include team.html %}
