<div class="header">
  <div class="header-inner">
    <div class="wrapper">
      <!-- <p class="hide-me">View-Source<sup>01</sup></p> -->
      <p class="home-link">
        <a href="{{ '/' | prepend: site.github.url }}">Decompress<span> — Today</span></a>
        <a href="{{ site.jsconf_url }}" class="hide-mobile">JSConf<span> — Yesterday</span></a>
        <a href="{{ site.cssconf_url }}" class="hide-mobile">CSSConf<span>&nbsp;</span></a>
      </p>
      <p class="header-ticket-link"><a href="{{ site.ticket_url }}">Buy Tickets</a></p>
    </div>
  </div>
</div>
