<section id="hero">
  <div class="row">
    <p id="schedule" class="section-scroll-point">
    <p class="title">
      Schedule
    </p>
    <div class="title-content">
      <p>The plan for the day is to have one "hack" space and one "talk" space, with the workshops and talks happening in parallel. Here's how we're scheduling it: </p>
      <p>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 09:30+11:00" itemprop="doorTime">09:30</time>
          <span>🎫 Registration</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 10:00+11:00" itemprop="doorTime">10:00</time>
          <span>📢 Welcome</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 10:10+11:00" itemprop="doorTime">10:10</time>
          <span>🎤 Workshop Introductions</span>
        </span>

        <span class="list list--simple list--past">
          <time datetime="2016-12-02 11:00+11:00" itemprop="doorTime">11:00</time>
          <span style="width: 50%">📢 Morning Presentations</span>
          <span style="width: 50%">💻 Morning Hack Session</span>
        </span>

        <span class="list list--simple list--past">
          <time datetime="2016-12-02 12:40+11:00" itemprop="doorTime">12:40</time>
          <span>🍜 Lunch + "Meet the Meetups"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 14:00+11:00" itemprop="doorTime">02:00</time>
          <span>🎤  One More Workshop Introduction</span>
        </span>

        <span class="list list--simple">
          <time datetime="2016-12-02 14:20+11:00" itemprop="doorTime">02:20</time>
          <span style="width: 50%">📢 Afternoon Presentations</span>
          <span style="width: 50%">💻 Afternoon Hack Session</span>
        </span>

        <span class="list list--simple">
          <time datetime="2016-12-02 16:40+11:00" itemprop="doorTime">04:40</time>
          <span>📷 Family photo and wrap-up</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-12-02 17:00+11:00" itemprop="doorTime">05:00</time>
          <span>🍻 Pub-time! Share what you've learnt.</span>
        </span>

      </p>
    </div>
  </div>

  <div class="row">
    <p id="schedule" class="section-scroll-point">
    <p class="title">
      Schedule &mdash; Workshops
    </p>
    <div class="title-content">
      <p>Join us in the Workshop Room for guided introductions</p>
      <p>
        <span class="list list--simple">
          <time datetime="2016-12-02 11:00+11:00" itemprop="doorTime">11:00</time>
          <span>💻 Morning Hack Session (11:00-12:40)</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-12-02 14:20+11:00" itemprop="doorTime">02:20</time>
          <span>💻 Afternoon Hack Session (02:20-04:00)</span>
        </span>
      </p>
    </div>
  </div>

  <div class="row">
    <p id="schedule" class="section-scroll-point">
    <p class="title">
      Schedule &mdash; Presentations
    </p>
    <div class="title-content">
      <p>The talks you'll want to hear, from speakers you'll be looking out for</p>
      <p>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 11:00+11:00" itemprop="doorTime">11:00</time>
          <span>Rick Giner -<br>"Accessibility in Single Page Applications"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 11:20+11:00" itemprop="doorTime">11:20</time>
          <span >Mike Riethmuller -<br>"Advanced Fluid Typography (and more)"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 11:40+11:00" itemprop="doorTime">11:40</time>
          <span>Jessica Claire Edwards -<br>"Enhancing Mobile Experiences with Device APIs"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 12:00+11:00" itemprop="doorTime">12:00</time>
          <span>Laura Summers -<br>"Dude, where's my Tricorder"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 12:20+11:00" itemprop="doorTime">12:20</time>
          <span>Francesco Orsenigo -<br>"Elm as an antidote to front-end fatigue"</span>
        </span>

        <span class="list list--simple list--past">
          <time datetime="2016-12-02 12:40+11:00" itemprop="doorTime">12:40</time>
          <span>🍜 Lunch</span>
        </span>

        <span class="list list--simple list--past">
          <time datetime="2016-12-02 14:20+11:00" itemprop="doorTime">02:20</time>
          <span>Cathy Lill -<br>"Mars Needs Guitars.... and the WebAudio API"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 14:40+11:00" itemprop="doorTime">02:40</time>
          <span>Michael Robinson -<br>"The Promised Path to Async, Awaits"</span>
        </span>
        <span class="list list--simple list--past">
          <time datetime="2016-12-02 15:00+11:00" itemprop="doorTime">03:00</time>
          <span>Gilmore Davidson -<br>"Gradient Circus"</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-12-02 15:20+11:00" itemprop="doorTime">03:20</time>
          <span>Adam Ullman -<br>"The future of communication on the web"</span>
        </span>
        <span class="list list--simple">
          <time datetime="2016-12-02 15:40+11:00" itemprop="doorTime">03:40</time>
          <span>Harriet Lawrence -<br>"The JS community and sociolinguistics: A love story"</span>
        </span>
      </p>
    </div>
  </div>
</section>
