<div class="row">
  <p class="title">
    Workshops
  </p>
  <div class="title-content">
    <p>This year, in addition to talks, we will have free informal workshops running all day in one large space as a semi-guided hack day. The workshop topics will include: </p>
    <p>
      <span class="list list--simple">
        <time>All day</time>
        <span>
          🛠1: Merging Data and Art
          <br>
          <a href="http://ri.id.au">Ri Liu</a> will show you the power data can have to ignite our imagination and engage us in important social issues. Using her tool of choice, <a href="https://d3js.org/">D3.js</a>, you will follow her lead, creating beautiful, interactive art from data. 
        </span>
      </span>
      <span class="list list--simple">
        <time>All day</time>
        <span>
          🛠2: Building Mobile Apps Using Web Tech
          <br>
          <a href="https://twitter.com/therealdevgeeks">Tommy Williams</a> will bust the myths surrounding building native mobile apps using HTML, CSS, and JavaScript, and get you building your own mobile apps using <a href="https://cordova.apache.org/">Apache Cordova</a>.
        </span>
      </span>
      <span class="list list--simple">
        <time>All day</time>
        <span>
          🛠3: Blending WebGL and Video
          <br>
          <a href="http://charliegleason.com/">Charlie Gleason</a> will amaze you with how he has combined WebGL and multi-streaming videos and get you started on your own experiments using <a href="https://github.com/facebookincubator/create-react-app">create-react-app</a> and <a href="https://threejs.org/">Three.js</a>.
        </span>
      </span>
    </p>
  </div>
</div>
