<div class="row">
  <p class="title">
    Workshops
  </p>
  <div class="title-content">
    <p>This year we will have free informal workshops running all day in one large space as a semi-guided hack day.</p>
    <p>
      <span class="list list--simple">
        <time>All day</time>
        <span>🛠1: Ri Liu&mdash;Merging Data and Art</span>
      </span>
      <span class="list list--simple">
        <time>All day</time>
        <span>🛠2: Tommy Williams&mdash;Building Performant Mobile Apps Using Front End Web Tech</span>
      </span>
      <span class="list list--simple">
        <time>All day</time>
        <span>🛠3: Charlie Gleason&mdash;Blending WebGL and Video</span>
      </span>
    </p>
  </div>
</div>
